
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    margin: 60px;
    padding: 0;
    list-style: none;
}

h2,
h3,
a {
    color: #34495e;
}

a, li {
    text-align: center !important;
    text-decoration: none !important;
}

.logo > a {
    color: #24b824;
    font-weight: bold;
    margin: 0;
}

.main-nav {
    margin-top: 16px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: 20px;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 0px;
}

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Simulation Page */
.simulation h1 {
    color: #000;
    font-size: 25px;
    font-family: sans-serif;
    margin-bottom: 25px
}

.simulation {
    text-align: center;
    padding: 30px;
}

.content {
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    margin: 30px;
    background-color: #f4f4f4;
}

.algorithm-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.algorithm-btn .wsclock-btn {
    width: 170px;
    border: 1px solid #184c7e;
    border-radius: 20px;
    background-color: #184c7e;
    color: #fff;
    margin: 8px;
}

.algorithm-btn .aging-btn {
    width: 170px;
    border: 1px solid #184c7e;
    border-radius: 20px;
    background-color: #184c7e;
    color: #fff;
    margin: 8px;
}

.description-img img {
    display: block;
    justify-content: center;
    width: 300px;
    margin: auto;
}


/* Home Page */
.text-algorithm-simulation {
    font-size: 18px;
}

.text-algorithm-simulation, .text-aging-ws-clock span {
    text-align: left !important;
    margin: 30px;
}

.text p {
    padding: 35px;
}

.container-img-text img {
    width: 200px;
}

/* About* Page */
.container {
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    margin: 30px;
    background-color: #f4f4f4;
}

.container .text {
    margin-top: 60px;
    text-align: center;
}

.container .text h4 {
    text-align: center;
}

.display-4 {
    padding: 20px;
    font-size: 32px !important;
    text-align: center;
}

.text-img img {
    width: 112px;
}

.logo-ufc img {
    width: 200px;
}

.img-team img {
    width: 125px !important;
}

/* Page How Using */
.content-how-using {
    padding-top: 20px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    background: #f4f4f4;
}

    .content-how-using p {
        text-align: center;
        margin-top: 30px;
    }

/* Button click simulation */
button {
    padding: 10px 15px;
    text-align: center;
    display: block;
}

/* Dropdown Button */
.dropbtn {
    background-color: #f4f4f4;
    color: #34495e;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #8cf7a7;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: #34495e;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
