@{
    ViewData["Title"] = "Gerenciamento de Mémoria Envelhecimento e WSClock";
}

<section class="gerenciador">
    <img src="~/Imgs/hill1.png" id="hill1" />
    <img src="~/Imgs/hill2.png" id="hill2" />
    <img src="~/Imgs/hill3.png" id="hill3" />
    <img src="~/Imgs/hill4.png" id="hill4" />
    <img src="~/Imgs/hill5.png" id="hill5" />

    <img src="~/Imgs/tree.png" id="tree" />
    <img src="~/Imgs/leaf.png" id="leaf" />
    <img src="~/Imgs/plant.png" id="plant" />

    <section class="about" id="about">
        <h2 class="heading">Sobre o <span>Projeto</span></h2>

        <p>
            &emsp; &emsp; &emsp; O simulador foi resultado de um dos projetos da disciplina <span>Projeto Integrador I</span> da Universidade Federal do Ceará, ministrada pelo professor <span>Anderson Almada</span>.
            O projeto foi desenvolvido pelos alunos Gustavo, Cristina e Jaqueline, todos do curso de Sistemas de Informação.
        </p>

        <p>
            &emsp; &emsp; &emsp; Programa para demonstrar o gerenciamento da memória pelo Sistema Operacional (SO). <br>
            A equipe envolvida no projeto, praticou o desenvolvimento de interface e interação, objetivando auxiliar o aprendizado dos Algoritmos <span>AGING</span> e do <span>WSCLOCK</span>. <br>
            Utilizando as tecnologias <span>C#</span>, <span>Javascript</span>, <span>Cshtml</span> e <span>Css</span>.
        </p>


        <h2 class="heading">Nossa <span>Equipe</span></h2>

        <div class="aboutContainer">
            <div class="stutendBox">
                <img src="~/Imgs/cris.jpeg" />
                <div class="aboutLayer">
                    <h4>Cristiana</h4>
                    <p>Aluna de sistema de informações. </p>
                    <a href="https://github.com/cristianar0drigues"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="stutendBox">
                <img src="~/Imgs/Gustavo.jpeg" />
                <div class="aboutLayer">
                    <h4>Gustavo</h4>
                    <p>Qualquer dúvida não me procure.</p>
                    <a href="https://github.com/gustavocorreiaof"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="stutendBox">
                <img src="~/Imgs/jaq.jpeg" />
                <div class="aboutLayer">
                    <h4>Jaqueline</h4>
                    <p>Aluna de sistema de informações. </p>
                    <a href="https://github.com/jaquelineportela"><i class="fa fa-github" aria-hidden="true"></i></i></a>
                </div>
            </div>
        </div>
    </section>
</section>