@{
    ViewData["Title"] = "Gerenciamento de Mémoria Envelhecimento e WSClock";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Application.styles.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Sobre:</h1>
    <div class="text-img">
        <br>
        <div class="logo-ufc">
            <img src="~/Imgs/ufcc.jpg">
        </div><br>

        <h8>
            Somos alunos Graduando do Curso de Sistema de Informação, <br>
            da Universidade Federal do Ceará - Campus Crateús.
        </h8>
        <br><br>

        <h6> Nossa Equipe</h6>
        <br>

        <div class="img-team">
            <img src="~/Imgs/cris.jpeg" />
            <img src="~/Imgs/gusta.jpeg" />
            <img src="~/Imgs/jaq.jpeg" />
        </div>
        <br><br>


        <h6> Sobre nosso projeto </h6>
        <br>

        <h8>
            Programa para demonstrar o gerenciamento da memória pelo Sistema Operacional (SO). <br>
            A equipe envolvida no projeto, praticou o desenvolvimento de interface e interação <br>
            objetivando auxiliar o aprendizado dos Algoritmos Envelhecimento e do WSCLOCK. <br>
            Utilizando as tecnologias C#, Javascript, Cshtml e Css.
        </h8>

        <div class="logo-project">
            <br><br>
            <img src="~/Imgs/ar1.png">
            <img src="~/Imgs/ar2.png">
            <img src="~/Imgs/ar3.png">
            <img src="~/Imgs/logo.png">
        </div>
        <br><br>
    </div>
</div>
<script src=""></script>