@{
    ViewData["Title"] = "Gerenciamento de Mémoria Envelhecimento e WSClock";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Application.styles.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Sobre:</h1>
    <div class="text-img">
        <br>
        <div class="logo-ufc">
            <center>
                <img src="~/img/ufcc.jpg">
            </center>
        </div><br>

        <center>
            <h8>Somos alunos Graduando do Curso de Sistema de Informação, da Universidade Federal do Ceará - Campus Crateús. </h8>
        </center>
        <br><br>

        <center>
            <h6> Nossa Equipe</h6>
        </center><br>

        <div class="img-team">
            <center>
                <img src="~/img/cris.jpeg">
                <img src="~/img/moura.jpeg">
                <img src="~/img/gusta.jpeg">
                <img src="~/img/jaq.jpeg">
            </center>
        </div>
        <br><br>

        <center>
            <h6> Sobre nosso projeto </h6>
        </center>
        <br>

        <center>
            <h8> Programa para demonstrar o gerenciamento da memória pelo Sistema Operacional (SO). A equipe envolvida no projeto praticou o desenvolvimento de interface e interação objetivando auxiliar o aprendizado do Envelhecimento e do WSCLOCK. Usamos implementação em C#, JavaScript para o desenvolvimento. </h8>
        </center>
        <div class="logo-project">
            <br><br>
            <center>
                <img src="/img/logo.png">
            </center>
        </div>
        <br><br>
    </div>
</div>
<script src=""></script>