<div class="container">
    <img src="~/Imgs/ar1.png" alt="Arvore" width="200px">
    <img src="~/Imgs/ar2.png" alt="Arvore" width="200px">
    <img src="~/Imgs/ar3.png" alt="Arvore" width="200px">
    <img src="~/Imgs/logo.png" alt="Arvore" width="200px">

    <div class="text">
        <p>
            O programa implementará os algoritmos Envelhecimento (Aging) e WSCLOCK de substituição de
            páginas na memória, objetivando facilitar o aprendizado dos conceitos e execução da paginação da memória pelo SO.
        </p>

        <h4>OBJETIVOS DO SIMULADOR</h4><br>
        <p>
            • Simplificar, ao aluno, o entendimento e a assimilação do conteúdo abordado.<br>

            • Abordar o assunto de maneira dinâmica e interativa.<br>

            • Fornecer uma fonte de conhecimento onde todos possam ter acesso.<br>
        </p>
    </div>
</div>