@{
    ViewData["Title"] = "Gerenciamento de Mémoria Envelhecimento e WSClock";
}

<script src="~/Scripts/Home.js"></script>

<section class="gerenciador">
    <img src="~/Imgs/hill1.png" id="hill1" />
    <img src="~/Imgs/hill2.png" id="hill2" />
    <img src="~/Imgs/hill3.png" id="hill3" />
    <img src="~/Imgs/hill4.png" id="hill4" />
    <img src="~/Imgs/hill5.png" id="hill5" />

    <img src="~/Imgs/tree.png" id="tree" />
    <img src="~/Imgs/leaf.png" id="leaf" />
    <img src="~/Imgs/plant.png" id="plant" />
    <h2 id="text" class="textDinamic"></h2>
</section>

<section class="sec">

    <div class="homeImg">
        <img src="~/Imgs/logo.png" />
    </div>

    <div class="homeContent">
        <h2 class="heading">Objetivos do Simulador</h2>
        <p>
            O programa mostrará como funciona um <span>Gerenciador de Memória</span>.
        </p>
        <p>
            O gerenciador de memória controla quais partes da memória estão sendo utilizadas e quais não
            estão. Além disso, ele é responsável por alocar espaço em memória aos processos que serão
            executados e liberar as posições de memória ocupadas quando os processos são finalizados.

            Para substituição das páginas o gerenciador utiliza de diversos algoritmos de troca de página, nesse simulador abordaremos como funcionam o algoritmo <span>WSCLOCK</span> e <span>Aging</span>.
        </p>
    </div>
</section>
