<div class="content-how-using">

    <p>A árvore sem folhas, representa o início da simulação.</p>

    <center>
        <img src="~/Imgs/ar1.png" alt="Arvore" width="100px">
    </center>

    <p>Ao iniciar, essa árvore recebe folhas que são as páginas, e cada fruto representa um contador associado a ela.</p>

    <center>
        <img src="~/Imgs/ar2.png" alt="Arvore" width="100px">
    </center>

    <p>Cada fruto é uma moldura de página.</p>

    <center>
        <img src="~/Imgs/ar3.png" alt="Arvore" width="100px">
    </center>

    <p>Cada regador, é um bit R associado a uma árvore.</p>

    <center>
        <img src="~/Imgs/regador.png" alt="Arvore" width="100px">
    </center>
</div>