@{
    ViewData["Title"] = "Simulação";
}

<section class="gerenciador">
    <img src="~/Imgs/hill1.png" id="hill1" />
    <img src="~/Imgs/hill2.png" id="hill2" />
    <img src="~/Imgs/hill3.png" id="hill3" />
    <img src="~/Imgs/hill4.png" id="hill4" />
    <img src="~/Imgs/hill5.png" id="hill5" />

    <img src="~/Imgs/tree.png" id="tree" />
    <img src="~/Imgs/leaf.png" id="leaf" />
    <img src="~/Imgs/plant.png" id="plant" />

    <section class="simulation" id="Simulation">
        <h2 class="heading"><span>Simulação</span></h2>

        <div class="simulationContainer">
            <div class="optionAlgoritm">
                <i class="fa fa-clock-o"></i>
                <h3>WSCLOCK</h3>
                <p>Algoritmo baseado no tempo</p>
                <a class="btns wsclock-btn">Simular</a>
            </div>

            <div class="optionAlgoritm">
                <i style="margin-left: 13px" class="fa fa-blind" aria-hidden="true"></i>
                <h3>AGING</h3>
                <p>Algoritmo baseado no nível de acessos</p>
                <a class="btns aging-btn">Simular</a>
            </div>
        </div>
    </section>

</section>