@{
    ViewData["Title"] = "Simulação";
}

<section class="gerenciador">
   
    <section class="simulation" id="Simulation">
        <h2 class="heading"><span>Simulação</span></h2>

        <div class="simulationContainer">
            <div class="optionAlgoritm">
                <i class="fa fa-clock-o"></i>
                <h3>WSCLOCK</h3>
                <p>Algoritmo baseado no tempo</p>
                <a class="btns wsclock-btn">Simular</a>
            </div>

            <div class="optionAlgoritm">
                <i style="margin-left: 13px" class="fa fa-blind" aria-hidden="true"></i>
                <h3>AGING</h3>
                <p>Algoritmo baseado no tempo</p>
                <a class="btns aging-btn">Simular</a>
            </div>
        </div>
    </section>

</section>