<div class="content">
    <div class="simulation">
        <h1>Simulador dos algoritmos de troca de página</h1>
        <div class="algorithm-btn">
            <button type="button" onclick="agingAlgorithm()" class="aging-btn">Envelhecimento</button>
            <button type="button" onclick="wsClockAlgorithm()" class="wsclock-btn">WSClock</button>
        </div>
    </div>
    <div class="description-img">
        <center>
            <img src="~/Imgs/logo.png" alt="logo-img">
        </center>
    </div>
</div>