@model Application.Models.ReturnModel

@{
    ViewBag.Title = "WsClock";
}
<div class="content-aging" id="content-aging">
    <h1 class="content-simulation">Simulação</h1>
    <div class="progress-time-bar" id="progress-time-bar">
        <div class="progress-time" id="progress-time"></div>
    </div>

    <button type="button" class="btn btn-danger btnInsert">Inserir Pagina</button>

    @{
        Application.Entity.Page aux = new Application.Entity.Page();

        aux = Model.List._start;
        int i = 0;

        <div class="Items" id="Items">

            @while (aux != null)
            {
                <div class="Item">
                    @switch (aux.Type)
                    {
                        case Application.Enums.ImgType.ArvoreSeca:
                            <input type="image" src="~/Imgs/ar1.png">
                            break;

                        case Application.Enums.ImgType.ArvoreComFolhas:
                            <input type="image" src="~/Imgs/ar2.png">
                            break;

                        case Application.Enums.ImgType.ArvoreComUmFruto:
                            <input type="image" src="~/Imgs/ar3.png">
                            break;

                        case Application.Enums.ImgType.ArvoreFrutifera:
                            <input type="image" src="~/Imgs/ar4.png">
                            break;
                    }
                    <a class="btn btn-primary btn-lg btnPage" data-index="@i">@aux.Valor</a>
                </div>

                i++;
                aux = aux.Proximo;
            }

        </div>

    }


</div>
