@{
    ViewData["Title"] = "Gerenciamento de Mémoria Envelhecimento e WSClock";
}

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

  <div class="content-how-using">
    
    <p>A árvore sem folhas, representa o início da simulação.</p>
  
    <center>
      <img src="/img/ar1.png" alt="Arvore" width="100px" >
    </center>   

    <p>Ao iniciar, essa árvore recebe folhas que são as páginas, e cada fruto representa um contador associado a ela.</p>
    
    <center>
      <img src="/img/ar2.png" alt="Arvore" width="100px" >   
    </center>  

    <p>Cada fruto é uma moldura de página.</p>
    
    <center>
      <img src="/img/ar3.png" alt="Arvore" width="100px" >
    </center>  

    <p>Cada regador, é um bit R associado a uma árvore.</p>
    
    <center>
      <img src="/img/regador.png" alt="Arvore" width="100px" >
    </center>
  </div>

<script src="/js/scripts.js"></script>