@*@using ProjetoIntegrador.Models.ProjectModel;*@

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/Scripts/Project.js"></script>

<style>

    .formulario {
        width: 400px;
        padding: 30px;
        border: 1px solid #ccc;
    }

        .formulario p {
            width: 100%;
            font-size: 1.5em;
        }

    .field {
        width: 100%;
        margin: 15px 0;
    }

        .field label,
        .field span {
            padding-left: 10px;
            font-size: 1.1em;
            display: block;
            width: 100%;
        }

    .radiobox label {
        width: auto;
        display: inline-block;
    }

    input[type=text],
    input[type=email],
    textarea {
        width: 100%;
        padding-left: 10px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
        border: 1px solid #ccc;
        outline: none;
    }

    input#nao {
        margin-left: 30px;
    }

    textarea {
        line-height: 20px;
        padding: 10px;
        height: 90px;
        resize: none;
    }

    input[type=submit] {
        display: block;
        background-color: #ccc;
        height: 35px;
        border: none;
        outline: 0;
        cursor: pointer;
        width: 100px;
        margin: 0 auto;
        text-align: center;
        border-radius: 15px;
    }
</style>

<head>
    <title>Formulário HTML</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
    <form class="formulario" method="post" id="ProjectForm">
        <p> Envie uma mensagem preenchendo o formulário abaixo</p>

        <div class="field">
            <label for="nome">Digite o numero do contador do Aging:</label>
            <input type="text" id="Contador" name="Contador">
        </div>

        <div class="field">
            <label for="telefone">Digite o numero de Ciclos:</label>
            <input type="text" id="NumeroDeCiclos" name="NumeroDeCiclos">
        </div>

        <div class="field">
            <label for="email">Digite o tamanho da Memória:</label>
            <input type="text" id="Tamanho" name="Tamanho">
        </div>

        <div class="field">
            <label for="email">Digite o código da página:</label>
            <input type="text" id="CodigoDaPagina" name="CodigoDaPagina">
        </div>

        <div class="field">
            <label for="email">Digite o numero da página:</label>
            <input type="text" id="NumeroDaPagina" name="NumeroDaPagina">
        </div>

        <div class="field">
            <label for="email">Digite o numero do bit:</label>
            <input type="email" id="BitNumber" name="BitNumber">
        </div>

        <div class="field">
            <label for="email">Digite o TLU:</label>
            <input type="email" id="TLU" name="TLU">
        </div>

        <div class="field">
            <label for="email">Digite o BitM:</label>
            <input type="email" id="BitM" name="BitM">
        </div>

        <div class="field">
            <label for="email">Digite o CVT:</label>
            <input type="email" id="CVT" name="CVT">
        </div>

        <div class="field">
            <label for="email">Digite a Age:</label>
            <input type="email" id="Age" name="Age">
        </div>

        <input type="submit" name="btnSave" value="Enviar" id="btnSave">
    </form>
</body>